
body {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #ededed;
}
.container {
    text-align: center;
    background-color: #97a97c           ;
    padding: 50px;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 10px 16px rbga(0, 0, 0, 0.2);
  }

  h1 {
    margin-bottom: 20px;
  }
  .form-details{
    font-size: 40px;
      margin: 20px 0;
  }
  button,
    input {
      padding: 10px 20px;
      font-size: 18px;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      color: #718355;
      margin: 10px;
      transition: all 0.3s ease;
    }
    button:hover {
        background-color: #59675d;
        color: black;
      }
    .input-field {
        width: 60px;
        text-align: center;
        font-size: 18px;
        margin-right: 10px;
      }
      table {
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        background-color: white;
        overflow: hidden;
      }
      
      th,
      td {
        padding: 24px;
        text-align: left;
        border-bottom: 1px solid #eee;
        font-size: 15px;
      }
      
      th {
        background-color: #c3d4ec;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
      }
      
      td {
        font-size: 14px;
        color: #4f4f4f;
      }